<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>811681407428-arfiaq2cd9fsbla54fqec5sg5hi7kl50.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.811681407428-arfiaq2cd9fsbla54fqec5sg5hi7kl50</string>
	<key>API_KEY</key>
	<string>AIzaSyDTIGVIlCpEKxDiopbOCqpbq5g8p4jmCR8</string>
	<key>GCM_SENDER_ID</key>
	<string>811681407428</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.MyApp</string>
	<key>PROJECT_ID</key>
	<string>myapp-4bda4</string>
	<key>STORAGE_BUCKET</key>
	<string>myapp-4bda4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:811681407428:ios:b39b54f8aa878370dd8491</string>
</dict>
</plist>